@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");
@import "./variables.scss";
@import "./section-main.scss";
@import "./section-about.scss";
@import "./section-text.scss";
@import "./section-promo.scss";
@import "./section-foulder.scss";
@import "./section-contact.scss";
@import "./section-info.scss";
@import "./section-footer.scss";

.outer {
  margin: 0 auto;
  max-width: 100%;
}


html,
body {
  font-size: 10px;
  font-family: $font;
}

button {
  font-family: $font;
  cursor: pointer;
}

a {
  font-family: $font;
  text-decoration: none;
}

a:hover{
  color: #1b1052;
  transition: .2s;
}

.logo{
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.01em;
  color: #62D0DF;
}

