.section-main{
    background: #ffffff url(/static/talk.png) no-repeat right;

    &-wrapper{
        display: flex;
        margin: 27px 179px;
        justify-content: space-between;
        align-items: center;
    }

    &-logo{
            font-size: 24px;
            line-height: 27px;
            letter-spacing: -0.035em;
            font-weight: bold;
            color: #62D0DF;
    }


    &-list{
            width: 233px;    

            &__link{
                font-size: 14px;
                line-height: 40px;
                color: #22356F;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;
       
                a:hover{
                border-bottom: 1px solid #22356F;
                padding: 0px 5px;
                }
            }
    }

    &-button{     
        z-index: 2;

        button{
            font-size: 14px;
            line-height: 16px;
            background: #62D0DF;
            border-radius: 50px;
            border: none;
            padding: 17px 33px;
            color: $color;
            outline: none;

            &:hover{
                box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
                text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
                transition: all 0.4s ease 0s;
            }

        }
    }

    &-box{
        display: flex;
        flex-direction: row;
        margin-left: 179px;

        &-description{
            display: flex;
            flex-direction: column;
            margin-top: 187px;

            &-title{
                font-size: 48px;
                line-height: 53px;
                font-weight: bold;
                letter-spacing: -0.035em;
                color: #22356F;
                width: 484px;
                margin: 40px auto 60px;
            }

            &-subtitle{
                font-size: 22px;
                line-height: 42px;
                color: #22356F;
                margin-bottom: 66px;
                width: 484px;
            }

            &-form{
                display: flex;
                margin-bottom: 75px;
            

                button{
                        font-size: 16px;
                        line-height: 23px;
                        font-weight: bold;
                        border: none;
                        padding: 12px 40px;
                        color: #F9B640;
                        background: $color;
                        transition: 1s ease;	
                        outline: none;

                        &:before, &:after{
                            content: '';
                            position: absolute;	
                            transition: inherit;
                            z-index: -1;
                        }

                        &:hover{
                            background: #F9B640;
                            color: $color;
                            transition-delay: .2s;
                        }

                        &:last-child{
                            margin-left: 38px;
                        }
                      
                }
            }

        }
    }

    &-image{
        position: relative;
        bottom: 82px;
        z-index: 1;
    }
    
}


@media (max-width: 1024px){
    .section-main-wrapper{
        margin: 27px 20px;
        max-width: 90%;
    }

    .section-main-box{
        margin-left: 0;
        max-width: 90%;
        margin: 0 20px;
    }
  }

  @media (max-width: 900px){
      .section-main{
        background: #ffffff;
      }
  }

  @media (max-width: 720px){
    .section-main-list{
        display: none;
    }
    .section-main-box-description{
        margin-top: 80px;
    }
  }
  
  @media (max-width: 530px){
      .section-main-box-description-title{
          font-size: 32px;
          width: 100%;
          margin: 40px auto 30px;
      }
      .section-main-box-description-subtitle{
          width: 100%;
          margin-bottom: 30px;
      }

    .section-main-box-description-form{
        margin-bottom: 30px;
    }

    .section-main-box-description-form button{
        font-weight: normal;
        padding: 12px 15px;   
    }
  }




    
