.section-about {
    background: #62D0DF;
    display: flex;


    &-description{
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        margin: 0 auto;
        width: 36%;
    
        &__title{
            font-size: 36px;
            line-height: 27px;
            letter-spacing: -0.006em;
            padding:151px 0 75px 0;

        }

        &__subtitle{
            font-size: 14px;
            line-height: 35px;
            letter-spacing: .2;
            padding-bottom: 75px;

            .subtitle-big{
                font-size: 22px;
                line-height: 35px;
            }
        }
    }

    &-image{
        height: 100%;
    }
}

