.section-text{
    background: #ffffff;
    display: flex;
    &-title{
        width: 200px;
        margin-top: 156px;
        text-align: right;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: #22356F;
    }
    &-subtitle{
        font-size: 22px;
        line-height: 34px;
        letter-spacing: 0.005em;
        color: #22356F;
        width: 592px;
        margin: 150px 0 0 225px;
        &__footer{
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.06em;
            color: rgba(34, 53, 111, 0.5);
            margin: 76px 0 24px 0;

        }
    }
    
}