.section-about {
    background: #62D0DF;
    display: flex;
    justify-content: space-between;


    &-description{
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        margin-left: 179px;
        max-width: 36%;
    
        &__title{
            font-size: 36px;
            line-height: 27px;
            letter-spacing: -0.006em;
            margin: 151px 0 75px 0;

        }

        &__subtitle{
            font-size: 14px;
            line-height: 35px;
            letter-spacing: .2;
            margin-bottom: 75px;

            .subtitle-big{
                font-size: 22px;
                line-height: 35px;
            }
        }
    }

}

@media (max-width: 1024px){
    .section-about{
        max-width: 90%;
    
        &-description{
         margin-left: 20px;

            &__title{
                margin: 50px 0;
            }

            &__subtitle{
                margin-bottom: 25px
            }
        }
    }
}

@media (max-width: 900px){
    .about-image{
        display: none;
    }
    .section-about-description{
        max-width: 65%;
    }
}

@media (max-width: 1180px){
    .section-about-description__title{
        margin: 75px 0px;
    }
}

@media (max-width: 530px){
    .section-about-description{
        max-width: 90%;
        margin: 0 20px;
}
}
