.section-text{
    background: #ffffff;
 

    &-sabtitle{
        position: absolute;
        width: 200px;
        left: 106px;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: #22356F;
    }

    &-title{
        font-size: 22px;
        line-height: 34px;
        letter-spacing: 0.005em;
        color: #22356F;
        font-weight: bold;
        max-width: 592px;
        margin: 150px auto 76px;
    }

    &-subtitle{
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.06em;
        color: rgba(34, 53, 111, 0.5);
        margin: 0 auto 24px;
        cursor: pointer;

        & span.animation{
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: all 0.5s;
            font-size: 16px;

            &::after{
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }
            
        }
 

        &:hover span.animation{
            padding-right: 25px;
            color: #F9B640;
        }

        &:hover span.animation:after{
            opacity: 1;
            right: 0;
        }
        
        

    }
    
    
    &-list{
        text-align: center;
        margin-bottom: 120px;

        ul{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
        
            
            .box{
                flex: 1;
                list-style-type: none;
                height: 360px;
                font-size: 32px;
                line-height: 34px;
                letter-spacing: -0.006em;
                color: #FFFFFF;
                text-shadow: 
                0 -1px 0 #fff, 
                0 1px 0 #2e2e2e, 
                0 2px 0 #2c2c2c, 
                0 3px 0 #2a2a2a, 
                0 4px 0 #282828, 
                0 5px 0 #262626,  
                0 12px 15px rgba(0, 0, 0, 0.9);

                & span{
                    display: flex;
                    color: #ffffff;
                    text-align: start;
                    padding-top: 23px;
                    max-width: 255px;

                    &.list{
                        border-top: 1px solid #fff;
                        margin: 95px auto 0;
                    }
                }

                & span::before{
                    content: '';
                    background-color: #E9B730;
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    position: relative;
                    top: 15px;
                    margin-right: 15px;
                }

                & span.list{
                    border-top: 1px solid #fff;
                    margin-top: 95px;
                }
            }

            .pink{
                background: $pink;
                }
            .mustard{
                background: $mustard;
            }
            .aqua{
                background: $aqua;
            }
            .blue{
            background: $blue;
            }
        }
    }
    
}

@media (max-width: 1180px){
    .section-text-list ul .box{
    flex: none;
    max-width: 360px;
    flex-basis: calc(100%/2);
    }
}

@media (max-width: 1024px){
    .section-text-sabtitle{
        position: relative;
        top: 110px;
        left: 40px;
    }
    .section-text-title{
        margin: 150px 20px 76px;
    }
}

@media (max-width: 530px){
    .section-text-title{
        max-width: 90%;
        margin: 76px 20px;
        font-weight: normal;
        
    }
    .section-text-sabtitle{
        top: 60px;
        left: 20px;
    }
    .section-text-list ul .box{
        font-size: 22px;
        height: 50vw;
    }
    .section-text-list ul .box span::before{
        left: 5px;
    }
    .section-text-list{
        margin-bottom: 60px;
    }
    .section-text-list ul .box span.list{
        margin: 55px auto 0;
    }
}