.section-promo{

            &-list{
                display: flex;
                flex-flow: row wrap;
                padding: 0;
                margin: 0 auto;
                z-index: 2;
                justify-content: center;
                
                .items-list{
                    list-style-type: none;
                    flex-basis: calc(100%/3);
                    height: 480px;
                    font-size: 32px;
                    line-height: 34px;
                    letter-spacing: -0.006em;
                    color: #FFFFFF;
                    text-align: center;
                }

                & span{
                    display: flex;
                    color: #ffffff;
                    width: 340px;
                    text-align: start;
                    padding-top: 30px;
                }

                & span::before{
                    content: '';
                    background-color: #E9B730;
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    margin-right: 15px;
                    position: relative;
                    top: 15px;
                }
                & span.promo{
                    border-top: 1px solid #fff;
                    margin: 95px auto 0;
                }
            }

            .indigo{
                background: #22356F;
            }

            .blue{
                background: $blue;
            }

            .images{
                background: url(/static/joanna-kosinska-340748.png) no-repeat;
                -webkit-background-size: cover;
                z-index: 2;
            }

            .aqua{
                background: $aqua;
                    }

            .peach{
                background: $peach;
                }

            .violet{
                background: $violet;
            }
}

@media (max-width: 1024px){
    .section-promo-list .items-list{
        flex-basis: calc(100%/2);
    }
}

@media (max-width: 720px){
    .section-promo-list .items-list{
        flex-basis: 100%;
    }
}