.section-main{
    background: #ffffff url(/static/talk.png) no-repeat right;


    &-logo{
        font-size: 24px;
        line-height: 27px;
        letter-spacing: -0.035em;
        color: #62D0DF;
    }

     
    &-list{
    
        width: 233px;    

        &__link{
            font-size: 14px;
            line-height: 45px;
            color: #22356F;
            padding: 0;
            margin: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
       
           a.border{
            width: 50px; 
            box-shadow: inset 0px -1px 0px #22356F;
            }
        }
    }

    &-button{     
        z-index: 2;
        button{
            font-size: 14px;
            line-height: 16px;
            background: #62D0DF;
            border-radius: 50px;
            border: none;
            width: 150px;
            height: 50px;
            color: #ffffff;

        }
    }

    &-box{
        display: flex;
        flex-direction: row;

    }

    &-description{
        display: flex;
        flex-direction: column;
        padding: 187px 0 0 179px;

        &-title{
            font-size: 48px;
            line-height: 53px;
            font-weight: bold;
            letter-spacing: -0.035em;
            color: #22356F;
            width: 484px;
            margin: 40px auto 60px;
        }

        &-subtitle{
            font-size: 22px;
            line-height: 42px;
            color: #22356F;
            margin-bottom: 66px;
            width: 484px;
        }
        &-form{
            display: flex;
            margin-bottom: 75px;
           
            &__button{

             button{
                font-size: 16px;
                line-height: 23px;
                border: none;
                width: 150px;
                height: 50px;
                background: #F9B640;
                color: #ffffff;
             }
             button:last-child{
                 background: none;
                 color: #F9B640;
                 padding-left: 38px;
             }
            }
        }

    }

    &-image{
        position: relative;
        bottom: 82px;
        z-index: 1;
    }
    
}

.section-wrapper{
    display: flex;
    width: 75%;
    padding-top: 27px;
    margin: 0 auto;
    justify-content: space-between;

    
}