$width: 1440px;
$padding: 20px;
$color-main: rgb(129, 37, 37);
$font: 'Noto Sans JP', sans-serif;
$pink: #FFE2DE;
$mustard: #C4E769;
$aqua: #62D0DF;
$blue: #0052C1;
$indigo: #22356F;
$peach: #DEE1FF;
$violet: #8F00FF;
$color: #ffffff;